[submodule "themes/hugo-texify3"]
	path = themes/hugo-texify3
	url = https://github.com/michaelneuper/hugo-texify3.git
[submodule "themes/hermit-v2"] 
  path = themes/hermit-v2 
  url = https://github.com/1bl4z3r/hermit-V2.git
